<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stackmob.taskmob"
    android:versionCode="1"
    android:versionName="1.0">
    
    <permission android:name="com.stackmob.taskmob.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.stackmob.taskmob.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.INTERNET" /> 
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/> 
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <uses-sdk android:minSdkVersion="8" />

    <application android:icon="@drawable/logo" android:label="@string/app_name">
        <activity android:name=".TaskMob" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TaskActivity" android:label="@string/task_list" />
        <activity android:name=".AddTaskActivity" android:label="@string/add_task" />
        <activity android:name=".LoginActivity" android:label="@string/login" />
    </application>
    
</manifest>
